@base: 75rem;
body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
form {
  margin: 0;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Microsoft Yahei', 'Lucida Grande', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*mobile禁用点击元素高亮*/
  -webkit-text-size-adjust: none; /*mobile 禁用浏览器的文字大小调整功能*/
  -webkit-user-select: none; /*mobile文本不能被选择*/
  margin: 0 auto;
  font-size: (28 / @base);
  color: #333333;
  //background: #e0fae3;
}
input {
  font-family: 'Microsoft Yahei', 'Lucida Grande', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
}

li {
  list-style-type: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}
a {
  text-decoration: none;
}

.link {
  color: #4078c0;
}

input::-webkit-input-placeholder {
}

.g-mar-top10 {
  margin-top: (10 / @base);
}

.g-mar-top15 {
  margin-top: (15 / @base);
}
.g-mar-top20 {
  margin-top: (20 / @base);
}
.g-mar-top25 {
  margin-top: (25 / @base);
}
.g-mar-top30 {
  margin-top: (30 / @base);
}
.g-padd-left10 {
  padding-left: (10 / @base);
}

.g-mar-bottom20 {
  margin-bottom: (20 / @base);
}
.g-flexbox {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.g-flex {
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
