@import url('./base.less');
.logo {
  padding-top: (70 / @base);
  color: #fff;
  text-align: center;
  align-items: center;
  margin-bottom: (30 / @base);
  font-weight: 500;
  height: (100 / @base);
  line-height: (100 / @base);
  span {
    display: inline-block;
    padding-left: (110 / @base);
    background-image: url('../logo.png');
    background-position: (0 / @base) (3 / @base);
    background-repeat: no-repeat;
    background-size: (100 / @base);
    font-weight: 500;
    font-size: (48 / @base);
    line-height: (100 / @base);
  }
}

.login {
  .mint-cell:first-child .mint-cell-wrapper {
    background: none;
  }

  button {
    margin-top: (100 / @base);
    width: 90%;
  }
  .mint-radiolist {
    padding-top: (40 / @base);
  }
  .radio {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }
  .radio .mint-cell {
    float: left;
    background: none;
  }
  .radio .mint-cell-wrapper {
    background: none;
  }
}
.line {
  height: (25 / @base);
  background: rgb(236, 236, 236);
}
.mint-cell-text {
  white-space: nowrap;
  margin-right: (20 / @base);
}
.mint-cell-value span {
  padding: (20 / @base) 0;
  line-height: (44 / @base);
}
.mainTitle {
  display: inline-block;
  padding: 0 (18 / @base);
  border-left: (8 / @base) solid #addcff;
  line-height: (60 / @base);
  height: (60 / @base);
  background: rgb(244, 244, 244);
  font-weight: 500;
}

.resume .courseData {
  padding-left: (15 / @base);
  // .mint-cell-wrapper {
  //   background-image: none;
  // }
}
.studentCourse {
  .picker {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
  }
}
